.card {
    display: flex;
    flex-direction: column;
    border: 0.3rem solid #333;
    margin-bottom: 1.2rem;
    overflow: hidden;

    .card-title {
        font-size: 1.8rem;
        font-weight: 600;
        padding: 1.2rem 0.6rem 0.6rem;
    }

    img {
        width: 102%;
    }

    .card-controls {
        padding: 0.6rem;
        display: flex;
        justify-content: center;
        gap: 0.6rem;
    }
}