.btn {
    border: none;
    padding: 0.6rem 1.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    margin: 0;
    align-self: flex-start;
    color: white;
    cursor: pointer;
}